.content{
    color:black;
    margin-left:100px;

}
.container{
    width:100%;
    max-width:500px;
    height:1000px;
    display:flex;
    justify-content: center;
    align-items: stretch;
    gap:1.25rem;
    transition: all 400ms;
    margin-top:-292px;
    margin-left: 702px;

}
.card{

    flex:1;
    height:100%;
    transition: all 400ms;
    cursor:pointer;
}
.card:nth-child(odd){
    translate: 0 -20px;
}
.card:nth-child(even){
    translate: 0 20px;
}
.container:hover>
.card:not(:hover){
    filter:grayscale(100%);
}
.card:hover{
    flex:3;
}
.container img{
        width: 150px;
        margin-right: 20px;
        float: right;      
}
.card {
    width: 650px;
    height: 250px;
    overflow: hidden;
  }
.numbers{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display:flex;   
    align-items: center;
    margin-top: -670px ;
    padding-left: 112px;
    font-weight: bold;
}
.label{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    display:flex;   
    align-items: center;
    margin-top: -10px ;
    padding-left: 112px;

}
